.description  {
color: #444;
font-family: open sans, ariel, sans-serif;
font-size: 1em;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;
}


#masthead {
  margin: 0 auto;
}

#title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: open sans, ariel, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

#top {
  background-color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #3FBCCC;
  font-weight: 400;
  font-family: open sans, ariel, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

#two {
  background-color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #3FBCCC;
  font-weight: 400;
  font-family: open sans, ariel, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

#last {
  background-color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #3FBCCC;
  font-weight: 400;
  font-family: open sans, ariel, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
  font-family: open sans, ariel, sans-serif;
  color: #3FBCCC;
}

.organization {
  font-size: 1.25em;
  font-weight: 400;
  font-family: open sans, ariel, sans-serif;
  color: #444;
}

.date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  font-family: open sans, ariel, sans-serif;
  color: #444;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;

}

#menu {
  font-size: 1em;
  font-family: open sans, ariel, sans-serif;
  font-family: open sans, ariel, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 50px;
  text-align: center;
  color: solid black;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  }
  </style>
}

.menu li {
  display: inline;
  text-align: center;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  color: #444;
  font-family: open sans, ariel, sans-serif;
  font-size: 1em;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  color: #444;
  font-family: open sans, ariel, sans-serif;
  font-size: 1em;
}

.footer {
  color: #3FBCCC;
  margin-top: 20px;
  text-align: center;
}
