figure {
  align: center;
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
}


p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.Subtitle {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
}


blockquote {
  font-size: 20px;
  font-style: italic;
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px
  padding-left: 15px;
  border-left: 4px solid #ccc;
  font-weight: bold;
}

/* DIV id's */

#content {
  margin: 0 auto;
  width: 800px;
}

#headline {
  font-size: 27px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 4px;
}

#more {
  font-size: 17px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
}
